div.hflex {
    display: flex;
    gap: 3rem;
}

section {
    background-color: rgb(17, 17, 17);
    border-radius: 1rem;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    min-width: 408px;
    transition: 1s;
}

section.resume {
    background-color: #fff;
    color: black;
    flex-grow: 2;
    width: 100%;
}

input {
    width: 400px;
}

textarea {
    height: 5rem;
}

h2 {
    margin: 1rem 0;
}

h3 {
    margin: 0;
}

span.icon {
    margin-left: 1rem;
}

div.textInput {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0.5rem;
}

button {
    margin: 1rem 0;
    width: 100%;
    border-color: #a8a8a8;
}

button.toggle {
    border: none;
    background-color: #353535;
    margin: 0 -2rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 4rem);
}

hr {
    border-color: #a8a8a8;
    margin: 1rem 0;
}

p {
    line-height: 1.15;
    text-align: left;
    white-space: pre-wrap;
}

p:last-child {
    margin-bottom: 2rem;
}

div.sectionTitle {
    display: flex;
    justify-content: space-between;
    line-height: 0;
}
